<ul>
  <li>{{link-to 'Data Binding' 'data-binding'}}</li>
  <li>{{link-to 'Computed Properties' 'computed-properties'}}</li>
  <li>{{link-to 'Computed Property Setters' 'cp-setters'}}</li>
  <li>{{link-to 'Routing Examples' 'routing-examples'}}</li>
  <li>{{link-to 'Query Params' 'qp-demo'}}</li>
</ul>
